@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  outline: 0 !important;
  box-sizing: none !important;
}

.form-control,.form-check-input:focus{
  color: #495057;
  background-color: #fff;
  background-color: inherit;
  outline: 0;
  box-shadow: none;
}